h1 {
    padding: 20px 0;
}

h2 {
    padding: 10px 0;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 20%;
}

.input-field {
    width: 290px;
}

.subject{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}