.title {
    text-align: center;
    font-size: 180%;
    padding-top: 150px;
    padding-bottom: 200px;
    margin-bottom: 50px;
    background-color: black;
    color: white;
}

.btns-field {
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: center;
    margin: 50px 100px 0px 100px;
}

.btn {
    margin: 15px;
    height: 100px;
    display: flex;
    gap: 20px;
    width: 370px;
}

.icns {
    font-size: 30px;
}

.about {
    margin: 120px 250px;
}

footer {
    padding-left: 60px;
    padding-right: 60px;
    color: white;
    background-color: black;
    margin-top: 126px;
}

footer p {
    display: inline-block;
}

.phone {
    float: left;
}

.copyright {
    margin-left: 30%;
    margin-right: 10%;
}

.gmail {
    float: right;
}
